*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 15% 0 15%;
}
ul a{

    text-decoration: none;
}
div#top-nav{
    display: flex;
    justify-content: space-between;

}
ul{
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    padding: 8px 15px;
}
#cart-icon{
    width: 25px;
}
